---
---

<div class="flex flex-col border bg-gray-50 px-3 py-2 rounded-md my-8">
  <div id="getWaitlistContainer" data-waitlist_id="14817" data-widget_type="WIDGET_1"></div>
<link rel="stylesheet" type="text/css" href="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.css"/>
<script src="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.js"></script>
</div>